<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [ ]:
#pip install micropip

In [ ]:
#import micropip

#await micropip.install('pandas')

# Import pandas after installation
#import pandas as pd
#print(pd.__version__)

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [ ]:
# pip install pyodide-py

In [ ]:
#import js
#from js import fetch

In [ ]:
#from pyodide.http import pyfetch

#async def download(url, filename):
#    response = await pyfetch(url)
#    if response.status == 200:
#       with open(filename, "wb") as f:
#           f.write(await response.bytes())

In [2]:
import pandas as pd

In [4]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [7]:
#await download(file_path, "survey_data.csv")
file_name="survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [10]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [12]:
## Write your code here
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [14]:
## Write your code here
df.shape[0] # [0] index accesses the first element of the tuple, which is the number of rows.

65437

Print the number of columns in the dataset.

In [17]:
## Write your code here
df.shape[1] # [1] index accesses the first element of the tuple, which is the number of columns.

114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [23]:
## Write your code here

# Set display options to show all columns and rows
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
print(df.dtypes)

ResponseId                          int64
MainBranch                         object
Age                                object
Employment                         object
RemoteWork                         object
Check                              object
CodingActivities                   object
EdLevel                            object
LearnCode                          object
LearnCodeOnline                    object
TechDoc                            object
YearsCode                          object
YearsCodePro                       object
DevType                            object
OrgSize                            object
PurchaseInfluence                  object
BuyNewTool                         object
BuildvsBuy                         object
TechEndorse                        object
Country                            object
Currency                           object
CompTotal                         float64
LanguageHaveWorkedWith             object
LanguageWantToWorkWith             object
LanguageAdmired                    object
DatabaseHaveWorkedWith             object
DatabaseWantToWorkWith             object
DatabaseAdmired                    object
PlatformHaveWorkedWith             object
PlatformWantToWorkWith             object
PlatformAdmired                    object
WebframeHaveWorkedWith             object
WebframeWantToWorkWith             object
WebframeAdmired                    object
EmbeddedHaveWorkedWith             object
EmbeddedWantToWorkWith             object
EmbeddedAdmired                    object
MiscTechHaveWorkedWith             object
MiscTechWantToWorkWith             object
MiscTechAdmired                    object
ToolsTechHaveWorkedWith            object
ToolsTechWantToWorkWith            object
ToolsTechAdmired                   object
NEWCollabToolsHaveWorkedWith       object
NEWCollabToolsWantToWorkWith       object
NEWCollabToolsAdmired              object
OpSysPersonal use                  object
OpSysProfessional use              object
OfficeStackAsyncHaveWorkedWith     object
OfficeStackAsyncWantToWorkWith     object
OfficeStackAsyncAdmired            object
OfficeStackSyncHaveWorkedWith      object
OfficeStackSyncWantToWorkWith      object
OfficeStackSyncAdmired             object
AISearchDevHaveWorkedWith          object
AISearchDevWantToWorkWith          object
AISearchDevAdmired                 object
NEWSOSites                         object
SOVisitFreq                        object
SOAccount                          object
SOPartFreq                         object
SOHow                              object
SOComm                             object
AISelect                           object
AISent                             object
AIBen                              object
AIAcc                              object
AIComplex                          object
AIToolCurrently Using              object
AIToolInterested in Using          object
AIToolNot interested in Using      object
AINextMuch more integrated         object
AINextNo change                    object
AINextMore integrated              object
AINextLess integrated              object
AINextMuch less integrated         object
AIThreat                           object
AIEthics                           object
AIChallenges                       object
TBranch                            object
ICorPM                             object
WorkExp                           float64
Knowledge_1                        object
Knowledge_2                        object
Knowledge_3                        object
Knowledge_4                        object
Knowledge_5                        object
Knowledge_6                        object
Knowledge_7                        object
Knowledge_8                        object
Knowledge_9                        object
Frequency_1                        object
Frequency_2                        object
Frequency_3                        object
TimeSearching                      object
TimeAnswering                      object
Frustration                        object
ProfessionalTech                   object
ProfessionalCloud                  object
ProfessionalQuestion               object
Industry                           object
JobSatPoints_1                    float64
JobSatPoints_4                    float64
JobSatPoints_5                    float64
JobSatPoints_6                    float64
JobSatPoints_7                    float64
JobSatPoints_8                    float64
JobSatPoints_9                    float64
JobSatPoints_10                   float64
JobSatPoints_11                   float64
SurveyLength                       object
SurveyEase                         object
ConvertedCompYearly               float64
JobSat                            float64
dtype: object

Print the mean age of the survey participants.

In [62]:
## Write your code here

age_counts = df['Age'].value_counts() # Count the values for the 'Age' columns
df_age = age_counts.to_frame()        # Convert age_counts to a DataFrame
df_age.rename(columns={'Age': 'Count'}, inplace=True) # Rename the column

df_age # Display df_age

                    count
Age
25-34 years old     23911
35-44 years old     14942
18-24 years old     14098
45-54 years old      6249
55-64 years old      2575
Under 18 years old   2568
65 years or older     772
Prefer not to say     322

In [76]:
# We will take the midpoint of each age group to calculate the mean age.

# Define age ranges and midpoints.
age_ranges = ['25-34 years old', '35-44 years old', '18-24 years old', '45-54 years old', '55-64 years old', 'Under 18 years old', '65 years or older', 'Prefer not to say']
midpoints = [29.5, 40, 21, 49.5, 60, 17, 67.5, None]  # Assuming 'Prefer not to say' as missing value

# Create a new column 'midpoint' in the DataFrame
df_age['midpoint'] = midpoints

# Calculate the weighted mean
mean_age = (df_age['count'] * df_age['midpoint']).sum() / df_age['count'].sum()

print("Mean age:", mean_age)

Mean age: 32.989042896220795

In [78]:
df_age

                    count  midpoint
Age
25-34 years old     23911      29.5
35-44 years old     14942      40.0
18-24 years old     14098      21.0
45-54 years old      6249      49.5
55-64 years old      2575      60.0
Under 18 years old   2568      17.0
65 years or older     772      67.5
Prefer not to say     322       NaN

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [102]:
## Write your code here
# Count the number of unique countries
unique_countries = df['Country'].nunique()

print("Number of unique countries:", unique_countries)

Number of unique countries: 185

In [113]:
#Checking the result
df[['Country']].describe()

                         Country
count                      58930
unique                       185
top     United States of America
freq                       11095

Copyright ©  IBM Corporation. All rights reserved.