<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Test Environment for Generative AI classroom labs

This lab provides a test environment for the codes generated using the Generative AI classroom.

Follow the instructions below to set up this environment for further use. 

Please note, at any point in time, to use the Generative AI tool, click on `TAI` the teaching assistant in the left bar.


<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-AI0271EN-SkillsNetwork/labs/v1/m1/images/TAI.png" width="20%">

# Setup

### Install required libraries

In case of a requirement of installing certain python libraries for use in your task, you may do so as shown below.

In [1]:
%pip install seaborn

Requirement already satisfied: seaborn in /opt/conda/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/conda/lib/python3.11/site-packages (from seaborn) (2.2.1)
Requirement already satisfied: pandas>=1.2 in /opt/conda/lib/python3.11/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/conda/lib/python3.11/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### Dataset URL from the GenAI lab
Use the URL provided in the GenAI lab in the cell below.

In [2]:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-AI0272EN-SkillsNetwork/labs/dataset/2016.csv"

### Downloading the dataset

Execute the following code to download the dataset in to the interface.

In [3]:
import requests

# Fetch the CSV file
response = requests.get(URL)

# Check if the request was successful
if response.status_code == 200:

    # Write the response content to a local file
    with open("dataset.csv", 'wb') as f:
        f.write(response.content)

# Test Environment

In [4]:
# Keep appending the code generated to this cell, or add more cells below this to execute in parts

*Prompt:*
<br>Write a python code to perform the following actions.
1. Read the CSV file, located on a given file path, into a pandas data frame, assuming that the first row of the file can be used as the headers for the data.
2. Print the first 5 rows of the dataframe to verify correct loading.

In [5]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv(URL)

# Print the first 5 rows of the DataFrame
df.head(5)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.59,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

## Data Preparation

### Data Cleaning - Checking for correct data types
You need to check the columns in the dataset for the right data type. If the data type is not appropriate, it may lead to misinterpretation of the data.
Write a prompt that performs the following tasks:

1. List the data types of the columns and check if there is any column type that is unsuitable.

*__Prompt:__*
<br>Write a Python code that performs the following task as for latest dataframe:
1. Check the data types of the columns and see if the data types are correct.

In [6]:
# Check the data types of the columns
print(df.dtypes)

# Print the first 5 rows of the DataFrame
df.head(5)

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Lower Confidence Interval        float64
Upper Confidence Interval         object
Economy (GDP per Capita)          object
Family                           float64
Health (Life Expectancy)          object
Freedom                           object
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.59,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

### Data Cleaning - Change the data types
1. Change the data type to an appropriate type.

*__Prompt:__*
<br>Write a python code to do the following tasks as per latest pandas:
1. Remove leading and trailing whitespaces from the values in a column.
2. Clean a column in a DataFrame by replacing empty strings with NaN values.
3. Change the data type of the columns to appropriate type as per the latest version of pandas.

In [7]:
# Remove leading and trailing whitespaces from the values in a column
df['Upper Confidence Interval'] = df['Upper Confidence Interval'].str.strip()
df['Economy (GDP per Capita)'] = df['Economy (GDP per Capita)'].str.strip()
df['Health (Life Expectancy) '] = df['Health (Life Expectancy)'].str.strip()
df['Freedom'] = df['Freedom'].str.strip()

# Replace empty strings with NaN values
df['Upper Confidence Interval'] = df['Upper Confidence Interval'].fillna('NaN')
df['Economy (GDP per Capita)'] = df['Economy (GDP per Capita)'].fillna('NaN')
df['Health (Life Expectancy)'] = df['Health (Life Expectancy)'].fillna('NaN')
df['Freedom'] = df['Freedom'].fillna('NaN')

# Change the data type of the columns to appropriate type as per the latest version of pandas
df['Upper Confidence Interval'] = df['Upper Confidence Interval'].astype(str)
df['Economy (GDP per Capita)'] = df['Economy (GDP per Capita)'].astype(str)
df['Health (Life Expectancy) '] = df['Health (Life Expectancy)'].astype(str)
df['Freedom'] = df['Freedom'].astype(str)

# Print the first 5 rows of the updated DataFrame
df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Health (Life Expectancy)
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,0.79504
1,Switzerland,Western Europe,2,7.509,7.428,7.59,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,0.86303
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,0.86733
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,0.79579
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,0.81091

### Data Cleaning - Checking for missing values
At this stage, you need to clean up the data. As has been shared earlier, the data may have missing values. Write a prompt that performs the following tasks:

1. Identify the columns with missing values and fill the blank cells with mean value of the columns.

*__Prompt:__*
<br>Write a python code that performs the following tasks as per latest pandas:
1. Identify the columns of a data frame with missing values.
2. Replace the missing values thus identified with mean values of the column.

In [10]:
# Identify the columns with missing values and convert it to a df
missing_columns = df.isnull().sum().to_frame()

# Replace missing values with mean values
df[missing_columns.columns] = df[missing_columns].mean().to_frame()

# Print the first 5 rows of updated DataFrame
df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Health (Life Expectancy),0
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,0.79504,NaN
1,Switzerland,Western Europe,2,7.509,7.428,7.59,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,0.86303,NaN
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,0.86733,NaN
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,0.79579,NaN
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,0.81091,NaN

In [11]:
# Remove the last column out of the df:
last_column_index = df.columns[-1]  # Get the index of the last column
df.drop(last_column_index, axis=1, inplace=True)

In [12]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Health (Life Expectancy)
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,0.79504
1,Switzerland,Western Europe,2,7.509,7.428,7.59,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,0.86303
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,0.86733
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,0.79579
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,0.81091

### Database Querying (optional)
You may choose to query the dataset using *[dbsensei](https://app.dbsensei.com/)*. Use “Text to SQL“ option for generating SQL queries.
1. Generate SQL query to Count the number of rows for each country
2. Generate SQL query to Calculate AVG Happiness score, Region wise for comparison

*__Prompt:__*
1. Generate SQL query to Count the number of rows for each country
2. Generate SQL query to Calculate AVG Happiness score, Region wise for comparison

*Query 1: Count the number of rows for each country* <br>
SELECT Country, COUNT(*) as count <br>
FROM df <br>
GROUP BY Country;

*Query 2: Calculate AVG Happiness score, Region wise for comparison* <br>
SELECT 
    Region, 
    AVG(Happiness) AS avg_happiness <br>
FROM df <br>
GROUP BY Region;

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

<!--
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-12-10|0.1|Abhishek Gagneja|Initial Draft created|

-->

Copyright © 2024 IBM Corporation. All rights reserved.